@imgBoxWidth: 50%;
@percent: 0.56;
.img-box(@imgBoxWidth,@percent);

.img-box(@imgBoxWidth,@percent){
  .img-box {
    display: block;
    position: relative;
    width: @imgBoxWidth;
    height:0;
    padding-bottom: @imgBoxWidth*@percent;
    overflow: hidden;
    > img {
      position: absolute;
      max-width: 100%;
      .box-center();
    }
  }
}
.box-center() {
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
